body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}